.myFlexBox{
    display:flex;
    flex-wrap:wrap;
    background-color: burlywood;
}
.myContentBox{
    background-color: brown;
    font: size 36px;
    margin:20px;
    padding:20px;
    width:150px;
}